EMAIL=email

PUID=uid

PGID=gid

TZ=time_zone

SERVER_IP=server_ip

DOMAIN=domain

# ProtonVPN

WIREGUARD_PRIVATE_KEY=key

WIREGUARD_ADDRESSES=address

SERVER_COUNTRIES=country

# Cloudflare Token
CLOUDFLARE_TUNNEL_TOKEN=cloudflare_token
